@model ManagerFPTs.Models.Admin
@{
    ViewBag.Title = "Index";
}

<h2>My Information</h2>

<div class="panel panel-info">
    <div class="panel-body">
        <p>Full Name: @Model.FullName</p>
        <p>Age: @Model.Age</p>
        <p>Address: @Model.Address</p>
        <p>Dat Of Birth: @Model.DateOfBirth</p>
        <p>Phone Number: @Model.NumberPhone</p>

    </div>

</div>
