@model IEnumerable<ManagerFPTs.Models.Course>
@{
    ViewBag.Title = "Index";
}

<h2>View Courses</h2>

<div class="form-group">
    @Html.ActionLink("New Course", "Create", "Courses", null, new { @class = "btn btn-primary" })
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Course</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@course.Id</td>
                <td>@course.Name</td>
                <td>@course.Description</td>
                <td>
                    @Html.ActionLink(
                        "Details",
                        "Details",
                        "Categories",
                        new { id = course.Id },
                        new { @class = "btn btn-primary" })
                    @Html.ActionLink(
                                     "Edit",
                                     "Edit",
                                     "Courses",
                                     new { id = course.Id },
                                     new { @class = "btn btn-default" })
                    @Html.ActionLink(
                                     "Delete",
                                     "Delete",
                                     "Categories",
                                     new { id = course.Id },
                                     new { @class = "btn btn-danger" })


                </td>
            </tr>
        }
    </tbody>

</table>


